<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.taxibooking">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivityDriver"></activity>
        <activity android:name=".DriverHome" />
        <activity android:name=".AddRouteAdmin" />
        <activity android:name=".AddLocationAdmin" />
        <activity android:name=".HomeActivityAdmin" />
        <activity android:name=".LoginActivityAdmin" />
        <activity android:name=".SignupActivityUser" />
        <activity android:name=".SignupActivityDriver" />
        <activity android:name=".DuringTripActivityUser" />
        <activity android:name=".AcceptActivityUser" />
        <activity android:name=".HomeActivityUser" />
        <activity android:name=".LoginActivityUser" />
        <activity android:name=".MainActivityWelcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>